<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />


  <title>Yuh Have Brains?</title>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    body {
      background-image: url("{{url_for('static', filename='Background.jpeg')}}");
    }

    div {
      text-align: center
    }


    .Container {
      padding-top: 5px;
    }

    h1 {
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
        0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 #ccc,
        0 7px 0 #ccc, 0 8px 0 #ccc
    }
  </style>
</head>

<body>
  <div class=Container>

    <h1>Yuh Have Brains Owah?</h1>

  </div>
  <script type="text/javascript" src="https://code.responsivevoice.org/responsivevoice.js"></script>

  <input type="button" onclick="textSpeak ()" value="submit">
 

  <!--JavaScript at end of body for optimized loading-->
  <script>

    function textSpeak (){
      responsiveVoice.speak("hello world");
    }
    
    function play_game() 
    {
      answer = '';
      gameWord = '';
      //while(answer == gameWord)
      //   {
      gameWord = wordbank(Math.floor(Math.random() * 50));
      console.log(gameWord);
      const options = {
	method: 'GET',
	headers: {
		'X-RapidAPI-Host': 'voicerss-text-to-speech.p.rapidapi.com',
		'X-RapidAPI-Key': 'e9c232a02cmsh24b624b46bb82b4p1a63fdjsne3b7c720565c'
	}
};
url = 'https://voicerss-text-to-speech.p.rapidapi.com/?key=08e279563d9d48f186479bf7d32ffd98&src='
const response = fetch('https://voicerss-text-to-speech.p.rapidapi.com/?key=08e279563d9d48f186479bf7d32ffd98&src=Hello%2C%20world!&hl=en-us&r=0&c=mp3&f=8khz_8bit_mono&b64=true', options);

      return response.data;
      // }
    }

     var audio = play_game();
     
  </script>
</body>

</html>