<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />


  <title>Yuh Have Brains?</title>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    body {
      background-image: url("{{url_for('static', filename='Background.jpeg')}}");
    }

    div {
      text-align: center
    }


    .Container {
      padding-top: 5px;
    }

    h1 {
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
        0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 #ccc,
        0 7px 0 #ccc, 0 8px 0 #ccc
    }
  </style>
</head>

<body>
  <div class=Container>

    <h1>Yuh Have Brains Owah?</h1>

  </div>
  
  <script type="text/javascript" src="https://code.responsivevoice.org/responsivevoice.js"></script>
 
  <input type="button" onclick="textSpeak()" value="submit">
 

  <!--JavaScript at end of body for optimized loading-->
  <script>
    
    let wordBank = [];
    wordBank = {{wordbank|tojson}};

    console.log(wordBank[1]);

    function textSpeak(){
      
      var gameWord = wordBank[Math.floor(Math.random() * 20)];
      responsiveVoice.speak(gameWord);
    }
    
    function play_game() 
    {
      answer = '';
      gameWord = '';
    }

  </script>
</body>

</html>