{% extends "layout.html" %}
{% block title %}Add Friend{% endblock %}
<!-- {% block page %}Login{% endblock %} -->

{{ super() }}

<body>  

{% block content %}
   <div>
     <h3>Search Friend</h3>
      <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="/add"> 
            {{ form.csrf_token }}

            <div class="input-field col s12 m8 offset-m2">
            <!-- <div class="input-field col s12 m8 offset-m2">  -->
              {{ form.username(size=20, class="validate") }}
              {{ form.username.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2">
            <!-- <div class="input-field col s12 m8 offset-m2"> -->
              {{form.submit}}
            </div>  
        </form>
      </div>
  </div>
{% endblock %}
</body>