{% extends "layout.html" %}
{% block title %}Search Friend{% endblock %}
<!-- {% block page %}Login{% endblock %} -->

{{ super() }}

<body>  

{% block content %}
   <div>
     <h3>Search Friend</h3>
      <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="/search"> 
            {{ form.csrf_token }}

            <div class="input-field col s12 m8 offset-m2">
            <!-- <div class="input-field col s12 m8 offset-m2">  -->
              {{ form.username(size=20, class="validate") }}
              {{ form.username.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2">
            <!-- <div class="input-field col s12 m8 offset-m2"> -->
              {{form.submit}}
            </div>  

            <div class="row">
              <table class="col m6 offset-m3">
                <!-- Add jinja templateing to show Namy, type1, type2, Weight and Height of user's pokemon  -->
                <thead>
                  <tr>
                    <!-- <th>Position</th> -->
                    <th>Name</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                  <!-- <td></td> -->
                  <td>{{result.name}}</td>
                  <td>{{result.score}}</td>
                </tr>
                </tbody>
              </table>
            </div>
        </form>

        <button class="button button1" onclick="document.location='main'" >Home</button>
      </div>
  </div>
{% endblock %}
</body>